<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Water Tank Monitor</title>
    <script>
        function updateData() {
            fetch('/update')
                .then(response => response.json())
                .then(data => {
                    document.getElementById('days').innerText = data.days_since_refill;
                    document.getElementById('time').innerText = data.current_time;
                });
        }
        setInterval(updateData, 5000);
    </script>
</head>
<body>
    <h1>Water Tank Monitor</h1>
    <p>Days since last refill: <span id="days">{{ days_since_refill }}</span></p>
    <p>Current Time: <span id="time">{{ current_time }}</span></p>
    <iframe id="thingspeakGraph" width="450" height="260" 
        src="https://thingspeak.com/channels/2746200/charts/3?results=5&dynamic=true">
    </iframe>
</body>
</html>
